.signup-form, .login-form {
    color: grey;
    background-color: white;
    width: 98%;
    padding: 4% 5% 6% 5%;
    margin: auto;
    border: 1px solid lightgrey;
    border-radius: 3%;
    box-shadow: 0.1px 0.01px 0.2px #262626;
    margin-top: 5%;
    font-size: 18px;
}
.signup-form button, .login-form button {
    background-color: #ff3b3f;
    color: white;
    height: 45px;
    width: 100%;
    font-size: 17px;
}
.signup-form input, .login-form input {
    height: 45px;
}
.signup-form-bg {
    background: url(../images/house.png);
}
.login-form label {
    margin-bottom: 2%;
    margin-top: 3%;
}
.login-form {
    margin-top: 16%;
    padding-bottom: 4%;
}
.login-form input {
    margin-bottom: 5%;
}
.login-form button {
    margin-bottom: 4%;
}
#forgot-password {
    display: block;
    color: grey;
    width: 50%;
    font-size: 16px;
    font-weight: 700;
    margin:auto;
  
}