body{
    background-color: #f8f8f8;
}

.fuo{
    font-size: 20px;
    color: #262626;
}
.crib{
    font-size: 23px;
    font-style: italic;
    color: #ff3f3b;
    font-weight: 600;
}

.signup-form {
    color: grey;
    background-color: white;
    width: 98%;
    padding: 4% 5% 6% 5%;
    margin: auto;
    border: 1px solid lightgrey;
    border-radius: 3%;
    box-shadow: 0.1px 0.01px 0.2px #262626;
    margin-top: 5%;
    font-size: 18px;
}
.signup-form button {
    background-color: #ff3b3f;
    color: white;
    height: 45px;
    width: 100%;
    font-size: 17px;
}
.signup-form input {
    height: 45px;
}
.signup-form-bg {
    background: url(../images/house.png);
}
.signup-form .base{
  margin-top: 8px;
  font-size: 14px;
  text-align: center;
}



/*INDEX STYLE*/

.showcase {
    display: flex;
    height: 500px;
    background: url(../images/1.jpg);
    background-size: cover;
    background-position: center;
    margin-top: -3%;
}

.showcase-text{
    width: 55%;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 3px #999;
    margin-top: 5%;
}

.showcase-text h1{
    font-size: 2.5em;
}

.sign-in{
    width: 45%;
}

.sign-in form{
    background-color: #FFF;
    width: 60%;
    margin: auto;
    border-radius: 5px;
    padding: 10px;
    padding-bottom: 20px;
    box-shadow: 2px 2px 5px #999;
    margin-top: 10%;
}

.sign-in form h4{
    margin-bottom: 20px;
}

.sign-in form div{
    margin-bottom: 15px;
}

.sign-in form label{
    font-weight: 300;
}

.sign-in form input{
    border: 1px solid #CCC;
    padding: 7px;
    width: 100%;
}

.log-in-btn, .register button{
    width: 100%;
    border: none;
    padding: 7px;
    color: white;
    background-color: #ff3b3f;
    margin-bottom: 10px;
}

.sign-in p{
    font-size: 0.9em;
    text-align: center;;
    margin-top: 5px;
    margin-bottom: 2px;
    color: rgba(50,50,50,0.7);
}

.sign-in p a{
    color: #ff3b3f;
    cursor: pointer;
}

.sign-in p a:hover{
    text-decoration: none;
    font-weight: 600;
}

.feature-section{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-around;
}

.feature-cards{
    width: 30%;
    background-color: white;
    box-shadow: 1px 1px 1px 1px rgba(50,50,50,0.4);
    padding-bottom: 20px;
    text-align: center;
    padding-left:10px;
    padding-right: 10px;
}

.feature-heading{
    font-weight: 600;
    color: rgba(50,50,50,0.8);
}

.feature-cards p{
    color: rgba(100,100,100,0.7)
}

.feature-cards img{
    width: 100%;
}

.steps{
    display: flex;
    margin-top: 5%;
    justify-content: space-around;
    background-color: white;
    padding-left: 6%;
    padding-right: 6%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.step-item{
    width: 30%;
    padding: 10px;
    text-align:center;
}

.step-num{
    border: 2px solid #ff3b3f;
    border-radius: 50%;
    width: 70px;
    margin: auto;
    padding-bottom: 5px;
    color: #ff3b3f;
}

.register{  
    background-color: #A9A9A9;
    color: white;
}

.register div{
    width: 50%;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-bottom: 20px;
    text-align: center;
}

.register p{
    font-size: 2em;
}

.register button{
    width: 200px;
    background-color: white;
    color: #ff3b3f;
}

.user_feedbacks{
  padding: 2px 8%;
  margin-top: 20px;
  margin-bottom: 20px
}


.title{
    text-align: center;
    margin-bottom: 5%;
}

.user_feedbacks .feed_box{
    margin: 3%;
    text-align: center;
    color: #262626;
}

.feed_icon img{ 
    width: 100px;
    height: 100%;
    border-radius: 50%;
    display: block;
    margin: auto;
}

.user_feedbacks .feedback .feed_name{
  font-weight: 600
}

.feedback .date{
  font-size: 12px
}

footer{
    background-color: #262626;
    color: white;
    margin-bottom: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

/*END INDEX*/


.container h2.get_roommate{
  text-align: left;
  text-transform: inherit;
  font-size: 195%;
  font-weight: 500;
  padding: 10px 5px;
  font-family: arial;
}
.reg_container .reg_steps{
  border-radius: 4px
}
.reg_container .reg_steps .icon{
  position: relative;
  width: 300px;
  height: 300px;
  border: 1px solid #e1e1e1;
  overflow: hidden;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 30px
}
.reg_container .reg_steps .icon img{
  width: 100%;
  height: 100%
}
.reg_container .reg_steps h3{
  font-weight: 600;
  font-size: 140%;
  padding: 0px 10px
}
.reg_container .reg_steps p{
  text-align: center;
  font-size: 14px;
  padding: 1px 50px
}
.reg_container .register{
  margin: 3% 0%;
  padding: 2px
}
.reg_container .register span{
  font-size: 17px;
  font-family: cursive;
  font-weight: 500;
  margin-right: 2%
}
.reg_container .register button{
  font-size: 17px;
  background: #ff3b3f;
  color: #fff;
  margin-top: 2%
}
.reg_container .register button:hover{
  background: #fff;
  color: #ff3b3f;
  border: 1px solid #ff3b3f
}



@media(max-width:769px){
    .showcase {
        flex-direction: column;
    }
    
    .showcase-text{
        width: 100%;
        padding-top: 0;
        margin-top: 0;
    }
    
    .showcase-text h1{
        font-size: 2em;
    }
    
    .showcase-text h3{
        font-size: 1.3em;
    }
    
    .sign-in{
        width: 100%;
    }
    
    .sign-in form{
        margin-top: 0;
        width: 70%;
    }
    
    .feature-section{
        flex-direction: column;
    }
    
    .feature-cards{
        width: 70%;
        margin: auto;
        margin-bottom: 30px;
    }
    
    .feature-cards img{
        width: 100%;
    }
    
    .steps{
        flex-direction: column;
    }
    
    .step-item{
        width: 70%;
        margin: auto;
    }
    
    .register div{
        width: 100%;
    }
}
